*.jpg
*.png
Dataset
*.DS_Store
/old_modells/*
/face_detection_project/*
/data/*
/models/*
/downloads/*

# Erlaube Strukturplatzhalter
!/data/**/.gitkeep
!data/**/.gitkeep
!/models/**/.gitkeep
!models/**/.gitkeep
